<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div class="header"></div>
    <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>
    </div>
      
        <main>
            <div id="wrapper"> 
                 
            <%- body %>       
        
            <%- include('../partials/footer') %> 

        </div>
        </main>
         
   
    
</body>

</html>